Repository bettyego/chi-balloon: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run test -- --run --passWithNoTests --findRelatedTests, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,css,md}": [
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx}": [
    "npm run test -- --run --passWithNoTests --findRelatedTests"
  ]
}

update code
  .github/workflows/ci.yml
  .husky/pre-commit
  .lintstagedrc.json
  README.md
  index.html
  package.json
  src/App.jsx
  src/component/page/ContactUs.jsx
  src/component/page/Gallery.jsx
  src/main.jsx
  src/types/index.ts
  src/utils/analytics.js
  src/utils/sanitize.js
  src/utils/sanitize.ts
  src/utils/touchUtils.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.js
Due: npm run test -- --run --passWithNoTests --findRelatedTests, prettier --write

update code
  .vercelignore
  package.json
  vercel.json
Due: prettier --write

Fix Vercel deployment: Remove husky dependency and add safe prepare script
  package.json
Due: prettier --write

Enhanced Owner page: Complete redesign with achievements, values, and CTA sections
  src/component/page/Owner.jsx
Due: npm run test -- --run --passWithNoTests --findRelatedTests

Fix browser caching issues: Add cache-busting headers and meta tags
  index.html
  vite.config.js
Due: npm run test -- --run --passWithNoTests --findRelatedTests

Aggressive cache-busting solution: Multiple approaches to fix browser caching
  clear-cache.bat
  index.html
  package.json
  public/cache-bust.js
  vite.config.js
Due: npm run test -- --run --passWithNoTests --findRelatedTests, prettier --write

Complete Backend Integration: Connect frontend to http://localhost:3001
  src/App.jsx
  src/component/page/Admin.jsx
  src/component/page/ContactUs.jsx
  src/component/page/InquiryForm.jsx
  src/components/ApiTest.jsx
  src/components/BackendStatus.jsx
  src/hooks/useApi.js
  src/services/api.js
  vite.config.js
Due: npm run test -- --run --passWithNoTests --findRelatedTests

made some font changes
  .github/workflows/ci.yml
  e2e/homepage.spec.js
  index.html
  public/manifest.json
  src/component/page/AboutUs.jsx
  src/component/page/ClientReviewSlider.jsx
  src/component/page/Hero.jsx
  src/component/page/Services.jsx
  src/constants/index.js
  src/index.css
  tailwind.config.js
  tailwind.css
Due: npm run test -- --run --passWithNoTests --findRelatedTests, prettier --write

worked on some codes
  public/IMG_4418.jpeg
  public/IMG_4419.jpeg
  public/IMG_4420.jpeg
  public/IMG_4421.jpeg
  public/IMG_4422.jpeg
  public/IMG_4423.jpeg
  public/IMG_4426.jpeg
  public/IMG_4427.jpeg
  public/IMG_4431.jpeg
  public/IMG_4432.jpeg
  public/IMG_4433.jpeg
  public/IMG_4435.jpeg
  public/IMG_4436.jpeg
  public/IMG_4439.jpeg
  public/IMG_4441.jpeg
  public/IMG_4442.jpeg
  public/IMG_4443.jpeg
  public/IMG_4444.jpeg
  public/IMG_4445.jpeg
  public/IMG_4446.jpeg
  public/IMG_4447.jpeg
  public/IMG_4451.jpeg
  public/IMG_4454.jpeg
  src/component/page/Features.jsx
  src/component/page/Gallery.jsx
  src/component/page/Hero.jsx
  src/index.css
Due: npm run test -- --run --passWithNoTests --findRelatedTests, prettier --write

deleted an iamge
  public/bq2.webp
Due: none

updated codes
  src/App.jsx
  src/component/page/Admin.jsx
  src/component/page/Dashboard.jsx
  src/component/page/Home.jsx
Due: npm run test -- --run --passWithNoTests --findRelatedTests

changed font
  src/component/page/Gallery.jsx
  src/component/page/Hero.jsx
  src/component/page/Owner.jsx
  src/component/page/Services.jsx
  src/index.css
Due: npm run test -- --run --passWithNoTests --findRelatedTests, prettier --write

make some correction
  index.html
  package-lock.json
  src/component/page/Owner.jsx
  src/index.css
  tailwind.config.js
  tailwind.css
Due: npm run test -- --run --passWithNoTests --findRelatedTests, prettier --write

vercle
  vercle.json
Due: prettier --write

header
  src/component/page/Header.jsx
Due: npm run test -- --run --passWithNoTests --findRelatedTests

Update fonts to elegant luxury typography - force deployment refresh
  src/index.css
Due: prettier --write

Fix Vercel chunk size warning and optimize bundle splitting
  vite.config.js
Due: npm run test -- --run --passWithNoTests --findRelatedTests

worked header
  src/component/page/Header.jsx
Due: npm run test -- --run --passWithNoTests --findRelatedTests
